<script setup lang="ts">
import TheWelcome from '../components/TheWelcome.vue'
</script>

<template>
  <v-card>
    <v-card-title>
      <div><v-icon icon="mdi-home"></v-icon> Home</div>
    </v-card-title>
    
  <v-btn>Button</v-btn>
  </v-card>
</template>
