<template>
        <v-app-bar
        color="primary"
        density="compact"
      >
        <template v-slot:prepend>
          <v-app-bar-nav-icon variant="text"
              
              @click.stop="rail = !rail"></v-app-bar-nav-icon>
        </template>

        <v-app-bar-title>Vuetify</v-app-bar-title>

        <template v-slot:append>
          <v-btn icon="mdi-dots-vertical"></v-btn>
        </template>
      </v-app-bar>
</template>
<script setup lang="ts">
import { inject,type Ref } from 'vue';


const rail = inject <Ref<boolean>>('rail')
</script>